/* src/components/WebcamView.css */
.webcam-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video-panel,
.prediction-panel {
  width: 48%;
  border: 1px solid #ccc;
  padding: 5px;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  background-color: #f9f9f9;
  border: 1px dashed #aaa;
}